// colors
$white: #fff !default;
$black: #000 !default;
$red: #c1121f !default;
$gray-100: #f7f7f7 !default;

// Main Colors
$primary: $red !default;
$dark: $black !default;
$light: $white !default;

// Font Family
$font-family-sans-serif: "DM Sans", sans-serif !default;
$font-size-base: 1rem !default;

// Border Radius
$border-radius: 8px !default;

// Espaciado
$spacer: 1rem !default;