{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form-container">
    <div class="form-header">
        Crear Pedido
    </div>
    <form method="POST" action="{% url 'crear_pedido' %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-col">
                <label for="nombre_cliente" class="form-label">Nombre del Cliente</label>
                <select class="form-input" id="nombre_cliente" name="p_nombrec" required>
                    <option value="">Seleccione un cliente</option>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.p_nombrec }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-col">
                <label for="fecha_pedido" class="form-label">Fecha de Pedido</label>
                <input type="date" class="form-input" id="fecha_pedido" name="fecha_pedido" placeholder="Ingrese la fecha" required>
            </div>
        </div>

        <div class="form-row">

            <div class="form-col">
                <laber for="fecha_entrega" class="form-label">Fecha de Entrega</label>
                <input type="date" class="form-input" id="fecha_entrega" name="fecha_entrega" placeholder="Ingrese la fecha" required>
            </div>

            <div class="form-col">
                <label for="descripcion_producto" class="form-label">Descripción del Producto</label>
                <input type="text" class="form-input" id="descripcion_producto" name="descripcion_producto" placeholder="Ingrese la descripción del producto" required>
            </div>

        </div>

        <div class="form-row">

            <div class="form-col">
                <label for="cantidad" class="form-label">Cantidad</label>
                <input type="number" class="form-input" id="cantidad" name="cantidad" placeholder="Ingrese la cantidad" required>
            </div>

            <div class="form-col">
                <label for="valor_unitario" class="form-label">Valor Unitario</label>
                <input type="number" class="form-input" id="valor_unitario" name="valor_unitario" placeholder="Ingrese el valor unitario" required>
            </div>
            
        </div>

        <div class="form-row">

            <div class="form-col">
                <label for="valor_total" class="form-label">Valor Total</label>
                <input type="number" class="form-input" id="valor_total" name="valor_total" placeholder="Ingrese el valor total" required>
            </div>

            <div class="form-col">
                <label for="responsable" class="form-label">Responsable</label>
                <select class="form-input" id="responsable" name="responsable" required>
                    <option value="">Seleccione un usuario</option>
                    {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}">{{ usuario.p_nombre }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <button type="submit" class="form-button">
            Crear Pedido
        </button>
        
    </form>

    <div class="text-center text-muted small" style="margin-top:10px;">
        Todos los campos son obligatorios
    </div>
</div>
{% endblock %}