{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Configuracion de Pedido /</span> Lista de Pedidos</h4>
              <div class="card">
                <h5 class="card-header">Lista de pedidos</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Pedido</th>
                        <th>Producto</th>
                        <th>Cliente</th>
                        <th>Fecha de Pedido</th>
                        <th>Fecha de Entrega</th>
                        <th>Cantidad</th>
                        <th>Responsable</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {% for pedido in page_obj %}
                      <tr>
                        <td>{{ pedido.pedido }}</td>
                        <td>{{ pedido.producto }}</td>
                        <td>{{ pedido.cliente }}</td>
                        <td>{{ pedido.fecha_pedido }}</td>
                        <td>{{ pedido.fecha_entrega }}</td>
                        <td>{{ pedido.cantidad }}</td>
                        <td>{{ pedido.responsable }}</td>

                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'editar_pedidos' pedido.id %}">
                                <i class="bx bx-edit-alt me-1"></i> Editar</a>
                            <!-- Botón de Eliminar con confirmación y envío POST -->
                              <form method="post" style="display:inline;" action="{% url 'eliminar_pedidos' pedido.id %}">
                                  {% csrf_token %}
                                  <button type="submit" class="dropdown-item"
                                          onclick="return confirm('¿Estás seguro de que deseas eliminar al pedido &quot;{{ pedido.pedido }}&quot;?');">
                                      <i class="bx bx-trash me-1"></i> Eliminar
                                  </button>
                              </form>
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="mt-2">
                <a  class="btn btn-dark" href="{% url 'crear_pedidos' %}">
                  <i class="bx bx-plus"></i> Agregar Pedido
                </a>
              </div>
{% endblock %}