{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="custom-list-card">
            <div class="custom-list-header">
                <h4 class="mb-0"><i class="bi bi-box-seam"></i> Lista de Pedidos</h4>
                <span class="fs-6">Panel de pedidos</span>
            </div>
            <div class="card-body p-4">
                <div class="table-responsive mt-2">
                    <table class="table custom-table align-middle">
                        <thead>
                            <tr>
                                <th>Fecha de Pedido</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Valor Unitario</th>
                                <th>Total</th>
                                <th>Estado Pedido</th>
                                <th>Cliente</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pedido in pedidos %}
                            <tr>
                                <td>{{ pedido.fecha_pedido }}</td>
                                <td>{{ pedido.producto }}</td>
                                <td>{{ pedido.cantidad }}</td>
                                <td>{{ pedido.valor_unitario }}</td>
                                <td>{{ pedido.valor_total }}</td>
                                <td>{{ pedido.estado_pedido }}</td>
                                <td>{{ pedido.cliente.p_nombrec }}</td>
                                <td>
                                    <a class="btn btn-custom" href="{% url 'editar_pedido' pedido.id %}">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>
                                    <a class="btn btn-custom" href="{% url 'eliminar_pedido' pedido.id %}">
                                        <i class="bi bi-trash3"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-end mt-3">
                    <a class="btn btn-custom add-btn" href="{% url 'crear_pedido' %}">
                        <i class="bi bi-plus-circle-fill"></i> Agregar Pedido
                    </a>
                </div>
            </div>
            <div class="custom-list-footer">
                Para editar o eliminar, usa los botones de acción.
            </div>
        </div>
    </div>
</div>
{% endblock %}