{% extends 'base.html' %}
{% block content %}
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Configuracion de Producto /</span> Editar Producto</h4>

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Producto</a>
                    </li>
                  </ul>
                  <div class="card mb-4">
                    <h5 class="card-header">Datos de Producto</h5>
                    <!-- Account -->
                    <hr class="my-0" />
                    <div class="card-body">
                      <form  method="POST" action="{% url 'editar_productos' producto.id %}">
                        {% csrf_token %}
                        {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="nombre_producto" class="form-label">Nombre del Producto</label>
                            <input class="form-control" type="text"value = "{{ producto.nombre_producto }}" type="text" name="nombre_producto"  required/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="descripcion_producto" class="form-label">Descripción del Producto</label>
                            <input class="form-control" type="text" value = "{{ producto.descripcion_producto }}" type="text" name="descripcion_producto"  required/>
                          </div>
                          <div class="mb-3 col-md-6">  
                            <label for="precio_venta" class="form-label">Precio Venta</label>
                            <input class="form-control" type="number" value= "{{ producto.precio_venta }}" type="number" name="precio_venta"  required/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="costo_unitario" class="form-label">Costo Unitario</label>
                            <input class="form-control" type="number" value= "{{ producto.costo_unitario }}" type="number" name="costo_unitario"  required/>
                          </div>
                        </div>

                        <div class="mt-2">
                          <button type="submit" class="btn btn-dark me-2">Editar Producto</button>
                          <button type="reset" class="btn btn-outline-secondary">Cancelar</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                </div>
              </div>
            </div>
{% endblock %}