{% load static %}
{% block sidebar %}
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'dashboard' %}" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <img src="{% static 'assets/img/logo2.jpg' %}" alt="Logo" width="40" />
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">CasaMobler</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="{% url 'dashboard' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <!-- Usuarios -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Usuarios</span>
            </li>
            <!-- Usuarios -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Usuarios</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'crear_usuarios' %}" class="menu-link">
                    <div data-i18n="Without menu">Crear Usuario</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'lista_usuarios' %}" class="menu-link">
                    <div data-i18n="Without navbar">Lista de Usuarios</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Clientes -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Clientes</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Clientes</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'crear_cliente'%}" class="menu-link">
                    <div data-i18n="Account">Crear Cliente</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'lista_cliente' %}" class="menu-link">
                    <div data-i18n="Notifications">Lista de Clientes</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Pedidos</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">Pedidos</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'crear_pedido' %}" class="menu-link" target="_blank">
                    <div data-i18n="Basic">Crear Pedido</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'lista_pedido' %}" class="menu-link" target="_blank">
                    <div data-i18n="Basic">Lista de pedidos</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Recibos</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Misc">Recibos de caja</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'crear_recibo_de_caja' %}" class="menu-link">
                    <div data-i18n="Error">Crear recibo</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'lista_recibo_de_caja' %}" class="menu-link">
                    <div data-i18n="Under Maintenance">Lista de recibos</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Garantias -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Garantias</span></li>
            <!-- User interface -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Garantias</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'crear_garantia' %}" class="menu-link">
                    <div data-i18n="Accordion">Crear Garantia</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'lista_garantia' %}" class="menu-link">
                    <div data-i18n="Alerts">Lista de Garantias</div>
                  </a>
                </li>
              </ul>
            </li>
        </aside>
{% endblock %}