{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form-container">
    <div class="form-header">
        Crear Garantia
    </div>
    <form method="POST" action="{% url 'crear_garantia' %}">
        {% csrf_token %}
        <div class="form-row">

            <div class="form-col">
                <label for="nombre_cliente" class="form-label">Nombre del Cliente</label>
                <select class="form-input" id="nombre_cliente" name="p_nombrec" required>
                    <option value="">Seleccione un cliente</option>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.p_nombrec }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-col">
                <label for="pedido" class="form-label">Pedido</label>
                <select class="form-input" id="pedido" name="descripcion_producto" required>
                    <option value="">Seleccione un pedido</option>
                    {% for pedido in pedidos %}
                    <option value="{{ pedido.id }}">{{ pedido.descripcion_producto }}</option>
                    {% endfor %}
                </select>
            </div>


        </div>

        <div class="form-row">
            
            <div class="form-col">
                <label for="producto" class="form-label">Producto</label>
                <input type="text" class="form-input" id="producto" name="producto" required>
            </div>

            <div class="form-col">
                <laber for="motivo_reclamo" class="form-label">Motivo de Reclamo</label>
                <input type="text" class="form-input" id="motivo_reclamo" name="motivo_reclamo" required>
            </div>
        
        </div>

        <div class="form-row">

            <div class="form-col">
                <laber for="fecha_reclamo" class="form-label">Fecha de Reclamo</label>
                <input type="date" class="form-input" id="fecha_reclamo" name="fecha_reclamo" required>
            </div>

            <div class="form-col">
                <label for="estado_garantia" class="form-label">Estado de Garantía</label>
                <select class="form-input" id="estado_garantia" name="estado_garantia" required>
                    <option value="">Seleccione un estado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Rechazada">Rechazada</option>
                    <option value="Aceptada">Aceptada</option>
                </select>
            </div>
        
        </div>

        <div class="form-row">

            <div class="form-col">
                <label for="observaciones" class="form-label">Observaciones</label>
                <textarea class="form-input" id="observaciones" name="observaciones" required></textarea>
            </div>     

        </div>

        <button type="submit" class="form-button">
            Crear Garantía
        </button>
        
    </form>

    <div class="text-center text-muted small" style="margin-top:10px;">
        Todos los campos son obligatorios
    </div>
</div>
{% endblock %}