{% extends 'layoud/head.html' %}
{% load static %}

{% block base %}
<body>
  <div class="page-wrapper" id="main-wrapper"  data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <!--  no tocar -->


    {% include 'layoud/sidebar.html' %}

    <div class="body-wrapper">
      <div class="body-wrapper-inner">
        {% include 'layoud/nav.html' %}
          <div class="container-fluid">

          {% block content %}
          {% endblock %}

          <div class="py-6 px-6 text-center">
            <p>Casamobler</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'layoud/footer.html' %}
</body>
{% endblock %}
