{% extends 'layoud/head.html' %}
{% load static %}

{% block base %}
<body>
  <div class="page-wrapper" id="main-wrapper">

    {% include 'layoud/sidebar.html' %}

    <div class="body-wrapper">
      {% include 'layoud/nav.html' %}
      
      <div class="body-wrapper-inner">
        <div class="container-fluid">

          {% block content %}
          {% endblock %}

          <div class="py-6 px-6 text-center">
            <p>SI</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'layoud/footer.html' %}
</body>
{% endblock %}
