{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'assets/img/logo.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800|Poppins:300,400,700">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align:center;
            position: relative;
            z-index: 1;
        }
        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>

</head>
<body>
    <div class="preloader">
        <div class="preloader-logo">
            <img src="{% static 'assets/img/logo.jpeg' %}" alt="" width="151" height="44" srcset="{% static 'assets/img/logo.jpeg' %} 2x"/>
        </div>
        <div class="preloader-body">
            <div id="loadingProgressG">
                <div class="loadingProgressG" id="loadingProgressG_1"></div>
            </div>
        </div>
    </div>
    <div class="page">
        <header class="section novi-background page-header">
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed">
                    <div class="rd-navbar-aside-outer">
                        <div class="rd-navbar-aside">
                            <div class="rd-navbar-panel">
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                                <a class="rd-navbar-brand" href="/"><img src="{% static 'assets/img/logo.jpeg' %}" alt="Logo" width="151" height="44" srcset="{% static 'assets/img/logo.jpeg' %} 2x"/></a>
                            </div>
                            <div class="rd-navbar-collapse">
                                <button class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle="#rd-navbar-collapse-content-1"><span></span></button>
                                <div class="rd-navbar-collapse-content" id="rd-navbar-collapse-content-1">
                                    <article class="unit align-items-center">
                                        <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-phone"></span></div>
                                        <div class="unit-body">
                                            <ul class="list-0">
                                                <li><a class="link-default" href="tel:#">+57 324-4990791</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <article class="unit align-items-center">
                                        <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-map-marker"></span></div>
                                        <div class="unit-body"><a class="link-default" href="#">Carrera 81 # 37 - 05, Medellín, Antioquia</a></div>
                                    </article>
                                    <div style="margin-top: 15px; display: flex; flex-direction: column; gap: 10px;">
                                        <a class="button button-primary button-winona" href="{% url 'login' %}">Iniciar sesión</a>
                                        <a class="button button-gray-bordered button-winona" href="{% url 'register' %}">Registrarse</a>
                                        <a class="button button-gray-bordered button-winona" href="{% url 'logout' %}">Cerrar sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Inicio</a></li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/about/">Nosotros</a></li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact/">Contactanos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="section swiper-container swiper-slider swiper-slider-minimal" data-loop="true" data-slide-effect="fade" data-autoplay="4759" data-simulate-touch="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide_video" data-slide-bg="{% static 'assets/img/Image_20240826_104324_853' %}">
                    <div class="container">
                        <div class="jumbotron-classic-content">
                            <div class="wow-outer">
                                <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Diversos diseños</div>
                            </div>
                            <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Inspirate</span></h1>
                            <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">Casamobler te ofrece muchas propiedades para que elijas tu hogar ideal.</span></p>
                            <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">Ver propiedades</a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide_video" data-slide-bg="{% static 'assets/img/Image_20240826_104324_853' %}">
                    <div class="container">
                        <div class="jumbotron-classic-content">
                            <div class="wow-outer">
                                <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Diversos diseños</div>
                            </div>
                            <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Inspirate</span></h1>
                            <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">Casamobler te ofrece muchas propiedades para que elijas tu hogar ideal.</span></p>
                            <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">Ver propiedades</a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide_video" data-slide-bg="{% static 'assets/img/Image_20240826_104324_853' %}">
                    <div class="container">
                        <div class="jumbotron-classic-content">
                            <div class="wow-outer">
                                <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Diversos diseños</div>
                            </div>
                            <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Inspirate</span></h1>
                            <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">Casamobler te ofrece muchas propiedades para que elijas tu hogar ideal.</span></p>
                            <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">Ver propiedades</a></div>
                        </div>
                    </div>
                </div>
               
                
                <!-- Puedes agregar más slides aquí -->
            </div>
            <div class="swiper-pagination-outer container">
                <div class="swiper-pagination swiper-pagination-modern swiper-pagination-marked" data-index-bullet="true"></div>
            </div>
        </section>
        <section class="section novi-background section-md text-center">
            <div class="container">
                <h1 class="mb-4">Bienvenido a Casamobler</h1>
                <div class="d-flex justify-content-center gap-3">
                    <a class="button button-primary button-winona" href="{% url 'login' %}">Iniciar sesión</a>
                    <a class="button button-gray-bordered button-winona" href="{% url 'register' %}">Registrarse</a>
                    <a class="button button-gray-bordered button-winona" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        </section>
        <footer class="section novi-background footer-advanced bg-gray-700">
            <div class="footer-advanced-main">
                <div class="container">
                    <div class="row row-50">
                        <div class="col-lg-4">
                            <h5 class="font-weight-bold text-uppercase text-white">Sobre nosotros</h5>
                            <p class="footer-advanced-text">Casamobler es la mayor empresa de gestión inmobiliaria y bienes raíces. Ofrecemos experiencia en la venta y marketing de una amplia gama de propiedades.</p>
                        </div>
                        <div class="col-sm-7 col-md-5 col-lg-4">
                            <h5 class="font-weight-bold text-uppercase text-white">Blog reciente</h5>
                            <article class="post-inline">
                                <p class="post-inline-title"><a href="#">Guía inmobiliaria: 7 consejos para comprar casa</a></p>
                                <ul class="post-inline-meta">
                                    <li>por Mike Barnes</li>
                                    <li><a href="#">2 días atrás</a></li>
                                </ul>
                            </article>
                        </div>
                        <div class="col-sm-5 col-md-7 col-lg-4">
                            <h5 class="font-weight-bold text-uppercase text-white">Galería</h5>
                            <div class="row row-x-10" data-lightgallery="group">
                                <div class="col-3 col-sm-4 col-md-3"><a class="thumbnail-minimal" href="#"><img class="thumbnail-minimal-image" src="{% static 'assets/img/footer-gallery-1-85x85.jpg' %}" alt=""/></a></div>
                                <!-- Puedes agregar más imágenes aquí -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-advanced-aside">
                <div class="container">
                    <div class="footer-advanced-layout">
                        <div>
                            <ul class="list-nav">
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/about/">Nosotros</a></li>
                                <li><a href="#">Propiedades</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="/contact/">Contactos</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="foter-social-links list-inline list-inline-md">
                                <li><a class="icon novi-icon icon-sm link-default mdi mdi-facebook" href="#"></a></li>
                                <li><a class="icon novi-icon icon-sm link-default mdi mdi-twitter" href="#"></a></li>
                                <li><a class="icon novi-icon icon-sm link-default mdi mdi-instagram" href="#"></a></li>
                                <li><a class="icon novi-icon icon-sm link-default mdi mdi-google" href="#"></a></li>
                                <li><a class="icon novi-icon icon-sm link-default mdi mdi-linkedin" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <hr/>
            </div>
            <div class="footer-advanced-aside">
                <div class="container">
                    <div class="footer-advanced-layout">
                        <a class="brand" href="/"><img src="{% static 'assets/img/Image_20240826_104325_425' %}" alt="" width="115" height="34" srcset="/static/assets/img/logo-light-115x34.png 2x"/></a>
                        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. Todos los derechos reservados. Diseño por <a href="https://www.templatemonster.com">TemplateMonster</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static 'assets/js/core.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>