{% extends 'base.html' %}
{% load static %}
{% block content %}  
    <div class="row">
      <div class="col-12">
        <div class="card">
                <div class="card-body">
                  <div class="d-md-flex align-items-center">
                    <div>
                      <h4 class="card-title">Clientes</h4>
                      <p class="card-subtitle">
                        Panel de CLientes 
                      </p>
                    </div>
                    <div class="ms-auto mt-3 mt-md-0">
                      <select class="form-select theme-select border-0" aria-label="Default select example">
                        <option value="1">March 2025</option>
                        <option value="2">March 2025</option>
                        <option value="3">March 2025</option>
                      </select>
                    </div>
                  </div>
                  <div class="table-responsive mt-4">
                    <table class="table mb-0 text-nowrap varient-table align-middle fs-3">
                      <thead>
                        <tr>
                          <th scope="col" class="px-0 text-muted">
                            Nombre del producto
                          </th>
                          <th scope="col" class="px-0 text-muted">
                            Motivo de reclamo
                          </th>
                          <th scope="col" class="px-0 text-muted">
                            Fecha del reclamo
                          </th>
                          <th scope="col" class="px-0 text-muted text-end">
                            Estado del reclamo
                          </th>
                          <th scope="col" class="px-0 text-muted text-end">
                            Observaciones
                          </th>
                          <th scope="col" class="px-0 text-muted text-end">
                            Cliente
                          </th>
                          <th scope="col" class="px-0 text-muted text-end">
                            Pedido
                          </th>
                          <th scope="col" class="px-0 text-muted text-end">
                            Acciones
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for garantia in garantias %}
                        <tr>
                            <td class="px-0"></td> 
                            <td class="px-0 text-end">
                                <a class="btn btn-primary"  href="{% url 'editar_garantia' garantia.id %}">Editar</a>
                                <a class="btn btn-danger"  href="{% url 'eliminar_garantia' garantia.id %}">Eliminar</a>
                            </td>
                        </tr>


                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                  <a class="btn btn-primary"  href="{% url 'crear_garantia' %}">Agregar</a>
                </div>
        </div>
      </div>
    </div>
{% endblock %}    