{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Configuracion de Usuario /</span> Lista de Usuarios</h4>
              <div class="card">
                <h5 class="card-header">Lista de usuarios</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Correo</th>
                        <th>Telefono</th>   
                        <th>Rol</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {% for usuario in page_obj %}
                      <tr>
                        <td>{{ usuario.primer_nombre_usuario }}</td>
                        <td>{{ usuario.segundo_nombre_usuario }}</td>
                        <td>{{ usuario.primer_apellido_usuario }}</td>
                        <td>{{ usuario.segundo_apellido_usuario }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.Rol.nombre_rol }}</td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'editar_usuarios' usuario.id %}">
                                <i class="bx bx-edit-alt me-1"></i> Editar</a>
                            <!-- Botón de Eliminar con confirmación y envío POST -->
                              <form method="post" style="display:inline;" action="{% url 'eliminar_usuarios' usuario.id %}">
                                  {% csrf_token %}
                                  <button type="submit" class="dropdown-item"
                                          onclick="return confirm('¿Estás seguro de que deseas eliminar al usuario &quot;{{ usuario.primer_nombre_usuario }} {{ usuario.primer_apellido_usuario }}&quot;?');">
                                      <i class="bx bx-trash me-1"></i> Eliminar
                                  </button>
                              </form>
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="mt-2">
                <a  class="btn btn-dark" href="{% url 'crear_usuarios' %}">
                  <i class="bx bx-plus"></i> Agregar Usuario
                </a>
              </div>
{% endblock %}