.left-sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 250px;
  height: calc(100vh - 70px);
  background: #f7f7f7;
  box-shadow: 2px 0 8px $sidebar-shadow;
  overflow: hidden;
  z-index: 1000;
  transition: all 0.3s ease;
  border-right: 1px solid #eee; // Opcional: línea divisoria
}

.scroll-sidebar {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.left-sidebar {
  transform: translateX(0);
  transition: transform 0.3s ease;

  &.collapsed {
    transform: translateX(-100%);
  }
}